
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    list-style: none;
   

}

html { 
    background: url("https://i.ibb.co/0Gvbs3V/papers-co-we14-pattern-background-apple-iphone12-rainbow-29-wallpaper-1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


/* HEADER HEADER HEADER */
header{
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    
}
@media (max-width:880px){
    header{
        display: flex;
        flex-direction: column;
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: space-between;
        
    }
}
/* H1 H1 H1 */
h1{
    font-size: 4em;
    color: white;
    margin-left: 10%;
}



/*SELFIE SELFIE SELFIE */
a{
    background: transparent;
}
.container-selfie{
    width: 150px;
    height: 150px;
    margin-right: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(255, 255, 255) 2px;
    backdrop-filter: blur(4px) saturate(180%);
    -webkit-backdrop-filter: blur(4px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.26);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 50%;
  
}
@media (max-width:880px){
    .container-selfie{
        width: 120px;
        height: 120px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid rgb(255, 255, 255) 2px;
        backdrop-filter: blur(13px) saturate(180%);
        -webkit-backdrop-filter: blur(13px) saturate(180%);
        background-color: rgba(136, 36, 86, 0.14);
        border: 3px solid rgba(255, 180, 180, 0.125);
        border-radius: 50%;

    }
    h1{
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    } 

    
}

.selfie{
    width: 100px;
    height: 100px;
    border-radius: 50%;  
}
@media (min-width:880px){
    .selfie:hover{
        transition: ease-in 0.1s;
        width: 140px;
        height: 140px;
      
    }
}
/* HEADER HEADER HEADER*/



/* MAIN MAIN MAIN */
.main-content{
    margin-left: 5%;
    margin-right: 5%;
    
    display: flex;
    justify-content: center;
}
/* LISERET LISERET LISERET */
.liseret{
    background: #000;
    width: 100px;
    height: 400px;
    border-radius: 20px;
    margin-right: 34px;
    backdrop-filter: blur(13px) saturate(180%);
    -webkit-backdrop-filter: blur(13px) saturate(180%);
    background-color: rgba(85, 42, 78, 0.14);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
}
.liseret:hover{
    
        backdrop-filter: blur(13px) saturate(180%);
        -webkit-backdrop-filter: blur(13px) saturate(180%);
        background-color: rgba(190, 160, 175, 0.14);
        border: 3px solid rgba(255, 180, 180, 0.125);
    
     
}
.git{
    width: 60px;
    height: auto;
    display: flex;
    margin-left:auto;
    margin-right: auto;
    
 
}
.githov:hover,.instahov:hover,.webhov:hover{
    transform: rotate(-180deg);
    transition: ease 1s;
  
}

@media(max-width:1064px){
    .liseret{
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 600px;
        height: auto;
        bottom: 40px;
    }
    .git{
        width: 30px;
        height: auto;
        display: flex;
        margin-left:auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (max-width:880px){
    .liseret{
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 600px;
        height: auto;
	padding:15px;
        bottom: 15px;
    }

}
@media (max-width:720px){
    .liseret{
        display:none
    }

}



/* LISERET LISERET LISERET */


/*LES BLOCK LES BLOCK LES BLOCK */
.trois-block{
    width: 300px;
    height: 400px;
    border-radius:20px ;
    -webkit-border-radius: 20px;
    margin-right: 2em;
    margin-bottom: 2em;
    backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
    background-color: rgba(155, 101, 101, 0.36);
    border-radius: 12px;
    border: 5px solid rgba(255, 255, 255, 0.125);

}
.trois-block:hover{
    backdrop-filter: blur(13px) saturate(180%);
    -webkit-backdrop-filter: blur(13px) saturate(180%);
    background-color: rgba(124, 118, 121, 0.14);
    border: 3px solid rgba(255, 255, 255, 0.125);

   }
h3{
    margin: auto;
    text-align: center;
    padding-top: 10px;
    font-weight: 1000;
}
.ul-control,li{
    text-align: start;
    margin-left: auto;
    margin-right: auto;

    padding: 10px;
}
li{
    width: 200px;
    height: auto;
    padding: 5px;
}

@media (max-width:720px){
    .main-content{
        display: flex;
        flex-direction:column ;
        flex-wrap: wrap;
    }
   .trois-block{
    width: 300px;
    height: auto;
    border-radius:20px ;
    -webkit-border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(13px) saturate(180%);
    -webkit-backdrop-filter: blur(13px) saturate(180%);
    background-color: rgba(87, 85, 86, 0.14);
    border: 3px solid rgba(255, 255, 255, 0.125);
  
   }
 
   .ul-control{
       width: 300px;
       height: auto;
   }

}


/*SCROLLBAR *//*SCROLLBAR *//*SCROLLBAR *//*SCROLLBAR *//*SCROLLBAR *//*SCROLLBAR *//*SCROLLBAR *//*SCROLLBAR *//*SCROLLBAR *//*SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
    height: 100%;
}
 
/* Track */
::-webkit-scrollbar-track {
    
    -webkit-border-radius: 10px;
    border-radius: 10px;
    height: 100%;
   
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(131, 131, 131, 0.8); 
     
    
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(90, 90, 90, 0.4); 
}



    
